body {
    margin: 0;
    padding: 0;
    background: #0f0f1a;
}

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.login-container {
  height: 100vh;
  background: #0f0f1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 800px;
  height: 420px;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.login-left {
  width: 50%;
  background: #111;
  padding: 40px;
  color: white;
}

.login-left h2 {
  margin-bottom: 30px;
}

.login-left input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  color: white;
}

.login-left button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #6a5af9, #8f67ff);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  background-color: #0f0f0f;
}

.forgot {
  margin-top: 15px;
  font-size: 12px;
  color: #aaa;
  cursor: pointer;
}

.login-right {
  width: 50%;
  background: linear-gradient(135deg, #6a5af9, #8f67ff);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #7b61ff;
}

.login-right h1 {
  font-size: 28px;
  background-color: #7b61ff;
}

.login-right p {
  font-size: 14px;
  opacity: 0.9;
  background-color: #7b61ff;
}

.login-judul {
  color: white;
  text-align: center;
}

.snow {
  position: fixed;
  inset: 0;
  z-index: 0;
}

.login-mask {
  position: relative;
  z-index: 1;
  background-color: #0b0e1a; /* warna background page */
}

.login-box {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}